<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="favicon.png" type="image/x-icon">
    </head>
<body>
    <div style="max-width: 400px; margin: 60px auto; padding: 16px; background-color: #fff; border: 1px solid #ccc; border-radius: 8px;">
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="container">
        <div class="card" id="formulario-pergunta">
         <div class="card-header">  

</div>
</div>

    <h1>Fazer Login</h1>
    <hr>
    <form style="display: flex; flex-direction: column; gap: 8px;" method="post" action="/login">
    <input type="text" name="email" id="email" placeholder="Digite seu email" class="form-control">
    <input type="text" name="senha" id="senha" placeholder="Digite sua senha" class="form-control">
    <button class="btn btn-danger w-100">Entrar</button>
    </form>
    <hr>
    <hr>
    <button style="background: none; border: none; color: #007bff; cursor: pointer; margin-top: 10px;">
  Não tem conta? Cadastre-se agora!
</button>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script> 
</html>